<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.librarymanagementsystem.mapper.BorrowMapper">
    <select id="getBorrowByBookId" resultType="Borrow">
        select * from borrow
        <where>
            <if test="state!=null">
                state = #{state}
            </if>
            and user_id = #{userId} and book_id = #{bookId}
        </where>
        ORDER BY id DESC LIMIT 1
    </select>

    <select id="records" resultType="Borrow">
        select * from borrow
        <where>
            <if test="state!=null">
                borrow.state = #{state}
            </if>
            <if test="searchKeyword!=null">
                and book_name like concat('%', concat(#{searchKeyword}), '%')
            </if>
            and user_id = #{userId}
        </where>
    </select>

    <select id="getAllBorrowByBookId" resultType="Borrow">
        select * from borrow
        <where>
            <if test="state!=null">
                state = #{state}
            </if>
            and book_id = #{id}
        </where>
    </select>
</mapper>